# Regex to find ads with, all of the regex_part_# is matched independently. case insensitive. 
# Add more of them if you wish.
[REGEX]
regex_part_1: www\.
regex_part_2: https?\.
regex_part_3: opensub
regex_part_5: Advertise your product or brand here
regex_part_6: become VIP member
regex_part_7: Watch more movies for free
regex_part_8: the best subtitles
regex_part_9: anoxmous
regex_part_10: Annonsera din produkt
regex_part_11: de bästa undertexter
regex_part_12: Swesub
regex_part_13: översatt av
regex_part_14: Svensk Medietext
regex_part_15: NORDiC RETAiL!
regex_part_16: Översättning:
regex_part_17: Ansvarig utgivare:
regex_part_18: Distribution:
regex_part_19: Pictures AB
regex_part_20: bli en VIP-medlem
regex_part_21: Scandinavian Text
regex_part_22: Text:
regex_part_23:

[SETTINGS]

# Path to logfile. Relative paths are from location of script.
log_path: log/removed.log

